.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
/.metadata/
weatherMap/.classpath
weatherMap/.project
weatherMap/.settings/
README.md
weatherMap/test-output/
